html, body, hgroup, h1, p, section, div, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  text-align: center;
  padding-bottom: 15px;
  background: #7080FF;
  width: 500px;
  margin: 0 auto; }
  header h1 {
    color: red; }
  header p {
    color: #806080;
    font-size: 1.2em; }

#game {
  height: 500px;
  width: 500px;
  margin: 0 auto;
  background: gray;
  overflow: hidden;
  text-align: center;
  /*CROSS SIGN*/
  /*CIRCLE SIGN*/ }
  #game div.cell {
    width: 32%;
    height: 32%;
    background: blue;
    border: red solid 1px;
    display: inline-block; }
  #game div.cell.cross {
    position: relative; }
  #game div.cell.cross:before, #game div.cell.cross:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: gray; }
  #game div.cell.cross:before {
    left: 50%;
    width: 20%;
    margin-left: -10%;
    height: 100%;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #game div.cell.cross:after {
    top: 50%;
    height: 20%;
    margin-top: -10%;
    margin-left: -50%;
    width: 100%;
    z-index: 10;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #game div.cell.circle {
    position: relative; }
  #game div.cell.circle:after, #game div.cell.circle:before {
    content: '';
    position: absolute; }
  #game div.cell.circle:after {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 60px;
    background: red; }
  #game div.cell.circle:before {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 60px;
    z-index: 10;
    background: blue; }

.game-over-message {
  text-align: center;
  font-size: 80px;
  color: orangered;
  display: none; }
