/*#region INITIAL RESET */

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 13px;
    background-color: #101415;
}

html, body, div, span, header, footer, main, aside, a, ul, li, nav, section, article, h1, h2, p, img, figure, aside, small, time {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

div#wrapper {
    width: 900px;
    margin: 0 auto;
    background-color: #FFF;
}

/*#endregion */
/*#region CLEARFIX */

.clearfix {
    zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: block;
    content: " ";
}

.clearfix:after {
    height: 0;
    clear: both;
}
/*#endregion */